<?xml version="1.0"?>
<launch>

    <!-- <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch" /> -->

    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="r1_x_pos" default="-2.0"/>
    <arg name="r1_y_pos" default="-0.5"/>
    <arg name="r1_z_pos" default="0.0"/>
    <arg name="r2_x_pos" default="-2.0"/>
    <arg name="r2_y_pos" default="-1.5"/>
    <arg name="r2_z_pos" default="0.0"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="false"/>
    </include>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf_1"  args="-urdf -model turtlebot3_$(arg model) -x $(arg r1_x_pos) -y $(arg r1_y_pos) -z $(arg r1_z_pos) -param robot_description" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf_2"  args="-urdf -model turtlebot3_$(arg model) -x $(arg r2_x_pos) -y $(arg r2_y_pos) -z $(arg r2_z_pos) -param robot_description" />

    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
        <arg name="map_file" value="$(find nav_rest_api_turtlebot)/map/map.yaml" />
    </include>

    <include file="$(find nav_rest_api)/launch/client.launch" />
    
</launch>
